<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="it.shu2019.stopdesertification">

    <uses-feature
            android:name="android.hardware.camera"
            android:required="false"/>

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
            android:allowBackup="true"
            android:hardwareAccelerated="false"
            android:icon="@drawable/logo"
            android:label="Canopia"
            android:largeHeap="true"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/Theme.AppCompat">
        <activity
                android:name=".DrawerActivity"
                android:label="@string/title_activity_drawer"
                android:theme="@style/NoActionBar">
        </activity>
        <activity
                android:name=".SplashActivity"
                android:configChanges="orientation|keyboardHidden"
                android:screenOrientation="portrait"
                android:theme="@style/Theme.Shelves">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".ImageActivity"
                android:configChanges="orientation|keyboardHidden"
                android:screenOrientation="portrait"
                android:theme="@style/Theme.Shelves">
        </activity>
        <activity
                android:name=".DetailActivity"
                android:configChanges="orientation|keyboardHidden"
                android:screenOrientation="portrait"
                android:theme="@style/Theme.Shelves">
        </activity>
        <activity
                android:name=".CreateActivity"
                android:configChanges="orientation|keyboardHidden"
                android:screenOrientation="portrait"
                android:theme="@style/Theme.Shelves">
        </activity>

        <meta-data
                android:name="com.google.android.gms.version"
                android:value="@integer/google_play_services_version"/>
        <meta-data
                android:name="com.google.android.geo.API_KEY"
                android:value="AIzaSyAfMa_wY6EeZQysRLaK-HReGmK867ngD_Q"/>

        <activity
                android:name=".MainActivity"
                android:configChanges="orientation|keyboardHidden"
                android:screenOrientation="portrait">
        </activity>
        <activity
                android:name=".TutorialActivity"
                android:configChanges="orientation|keyboardHidden"
                android:screenOrientation="portrait"
                android:theme="@style/Theme.AppCompat.NoActionBar">
        </activity>
    </application>

</manifest>